@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
  --color-ingresar: #16213E;
  --color-clase: #0F3460;
  --color-docum: #533483;
  --color-desafio: #E94560;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #121314;
}

